<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/index.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <h2> MVC Ecommerce site </h2>
        </header>
        {% block body %}
        {% for menuLabel in menuLabels %}
                <button class="dropbtn" ><a href="/{{ menuLabel.urlKey }}">{{ menuLabel.pageTitle }}</a></button>
        {% endfor %}
        {% for parentCategory in parentCategories %}
            <div class="dropdown">
                <button class="dropbtn">{{ parentCategory.parentCategoryName }}</button>
                <div class="dropdown-content">
                    {% for category in categories %}
                    {% if parentCategory.parentCategoryID == category.parentCategoryID %}
                    <a href="/category/view/{{ category.urlKey }}">{{ category.categoryName }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                </div>
        {% endfor %}
    {% endblock %}        
        