<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/index.css">
            <div class="headerOuterDivision">
                <div class="headerTextDiv"><span class="headerText">MVC Ecommerce site</span></div> 
            </div>
    </head>
    <body>
        {% block body %}
        {% for menuLabel in menuLabels %}
            <div class="btnDiv"><button class="dropbtn" ><a class="a" href="/{{ menuLabel.urlKey }}">{{ menuLabel.pageTitle }}</a></button></div>
        {% endfor %}
        {% for parentCategory in parentCategories %}
            <div class="dropdown">
                <button class="dropbtn">{{ parentCategory.parentCategoryName }}</button>
                <div class="dropdown-content">
                    {% for category in categories %}
                    {% if parentCategory.parentCategoryID == category.parentCategoryID %}
                    <a href="/category/view/{{ category.urlKey }}">{{ category.categoryName }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                </div>
        {% endfor %}
    {% endblock %}        
        