{% extends "base.html" %}
{% block title %} Show Category {% endblock %}
{% block body %}
    <button><a href="categories/add">Add Category</a></button>

    <table border="1">
        <tr>
            <th>Category Name</th>
            <th>Url Key</th>
            <th>Category Image</th>
            <th>Category Status</th>
            <th>Category Description</th>
            <th>Parent Category</th>
            <th colspan="2">Action</th>
        </tr>
        {% for category, item in categories %}
        <tr>
            <td>{{ item.categoryName }}</td>
            <td>{{ item.urlKey }}</td>
            <td><img src="/images/category/{{ item.categoryImage }}" width="50px" height="50px"></img></td>
            <td>{{ (item.categoryStatus == 1) ? 'On' : 'Off'}}</td>
            <td>{{ item.categoryDescription }}</td>
            <td>{{ item.parentCategoryName }}</td>
            <td><a href= "/Admin/categories/edit/{{ item.categoryID }}">Edit</a></td>
            <td><a href= "/Admin/categories/delete?categoryID={{ item.categoryID }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}