{% extends "base.html" %}
{% block title %} Update Product {% endblock %}
{% block body %}
    <form method="POST" action="/Admin/Products/editProductData" enctype="multipart/form-data">
        
        <div>
            <label for="product[productName]">Product Name:</label>
            <input type="text" name="product[productName]" value="{{ product.productName }}"/>
        </div>
    
        <div>
            <label for="product[SKU]">SKU:</label>
            <input type="text" name="product[SKU]" value="{{ product.SKU }}"/>
        </div>
    
        <div>
            <label for="product[urlKey]">Url key:</label>
            <input type="text" name="product[urlKey]" value="{{ product.urlKey }}"/>
        </div>
    
        <div>
            <label for="product[productImage]">Product Image:</label>
            <input type="file" name="product[productImage]" value="{{ product.productImage }}"/>
        </div>
    
        <div>
            <label for="product[productStatus]">Product Status:</label>
            <input type="radio" name="product[productStatus]" value="on" 
            {{ product.productStatus == 1 ? 'checked' : '' }} >On
            <input type="radio" name="product[productStatus]" value="off"
            {{ product.productStatus == 0 ? 'checked' : '' }}>Off
        </div>
    
        <div>
            <label for="product[productDescription]">Product Description:</label>
            <textarea rows="5" cols="25" name="product[productDescription]">{{ product.productDescription }}</textarea> 
        </div>
    
        <div>
            <label for="product[shortDescription]">Short Description:</label>
            <textarea rows="3" cols="25" name="product[shortDescription]">{{ product.shortDescription }}</textarea>
        </div>
    
        <div>
            <label for="product[productStock]">Product Stock:</label>
            <input type="text" name="product[productStock]" value="{{ product.productStock }}"/>
        </div>
    
        <div>
            <label for="product[productPrice]">Product Price:</label>
            <input type="text" name="product[productPrice]" value="{{ product.productPrice }}"/>
        </div>
    
        <div>
            <input type="submit" value="Update Product Details" name="btnUpdateProduct"/>
        </div>
    </form>
{% endblock %}